/* === Reset === */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block
}
body
{
    line-height: 1
}
ol, ul
{
    list-style: none
}
blockquote, q
{
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* === End Reset === */
/* === General === */
html, body
{
    height: 100%
}
*, *:after, *:before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 28px;
    overflow-x: hidden;
    color: #8A8A8A;
    font-weight: normal;
    background: #fbfaf4;
}
body.overflow-hidden
{
    overflow: hidden
}
.main-sections
{
    height: 100%
}
/* === Images === */
img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* === Links === */
a
{
    -webkit-transition: all  0.3s ease-in-out 0s;
    -moz-transition: all  0.3s ease-in-out 0s;
    -ms-transition: all  0.3s ease-in-out 0s;
    -o-transition: all  0.3s ease-in-out 0s;
    transition: all  0.3s ease-in-out 0s;
    text-decoration: none;
}
a:focus
{
    outline: none
}
a:hover
{
    text-decoration: none
}
/* === Paragraf Elements === */
p a:hover, span a:hover, h5 a:hover
{
    text-decoration: none
}
p, ul, ol
{
    margin-bottom: 1.5em
}
p a, h5 a
{
    font-weight: bold;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
p:last-child
{
    margin-bottom: 0
}
.content-row p:last-of-type
{
    margin-bottom: 0
}
/* === Headers === */
h1, h2,   h5
{
    margin-bottom: 1em;
    line-height: 1.5em;
    color: #4F4F4F;
}
h1
{
    font-size: 2em
}
h2
{
    font-size: 1.5em
}
h3
{
    font-size: 1.064em;
	line-height: 1.5em;
}
h4
{
    font-size: .938em;
	line-height: 1.5em;
}
h5
{
    font-size: .90em
}
h6
{
    font-size: 1.5em;
	color: #fcfaec;
}
address
{
    font-style: italic;
    margin-bottom: 24px;
}
abbr[title]
{
    border-bottom: 1px dotted #2b2b2b;
    cursor: help;
}
b, strong
{
    font-weight: 700
}
cite, dfn, em, i
{
    font-style: italic
}
mark, ins
{
    background: #fff9c0;
    text-decoration: none;
}
code, kbd, tt, var, samp, pre
{
    font-size: 15px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.6;
}
pre
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
small
{
    font-size: smaller
}
big
{
    font-size: 125%
}
sup, sub
{
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup
{
    bottom: 1ex
}
sub
{
    top: .5ex
}
dl
{
    margin-bottom: 24px
}
dt
{
    font-weight: bold
}
dd
{
    margin-bottom: 24px
}
ul, ol
{
    list-style: none;
    margin: 0 0 24px 20px;
}
ul
{
    list-style: disc
}
ol
{
    list-style: decimal
}
li > ul, li > ol
{
    margin: 0 0 0 20px
}
img
{
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}
figure
{
    margin: 0
}
fieldset
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 24px;
    padding: 11px 12px 0;
}
legend
{
    white-space: normal
}
button, input, select, textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}
button, input
{
    line-height: normal
}
input, textarea
{
    outline: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    -webkit-appearance: button;
    cursor: pointer;
    border: 1px solid transparent;
}
button[disabled], input[disabled]
{
    cursor: default
}
input[type="checkbox"], input[type="radio"]
{
    padding: 0
}
input[type="search"]
{
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance: none
}
.btn
{
    color: #fcfaec;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn:hover
{
    color: #fcfaec
}
button::-moz-focus-inner, input::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
textarea
{
    overflow: auto;
    vertical-align: top;
}
del
{
    color: #767676
}
hr
{
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 23px;
}
/* Alignment */
.alignleft
{
    float: left
}
.alignright
{
    float: right
}
.textcenter
{
    text-align: center
}
/* === Home === */
.main-container
{
    z-index: 18;
    position: relative;
    width: 100%;
    background: #f7f7f7;
}
.main-container .container
{
    width: 100%;
    padding: 0;
    margin: 0;
}
.main-image h1
{
    font-size: 40px;
    letter-spacing: 12px;
    opacity: 0;
    margin-bottom: 18px;
}
.main-image h1 span
{
    color: #fe6124;
    display: inline-block;
    opacity: 0;
}
.main-image p
{
    opacity: 0
}
.main-image .hello-box
{
    opacity: 0;
    padding: 20px 0;
}
.box
{
    opacity: 0
}
/* === Paralax === */
.fullscreen, .main-parallax-content
{
    width: 100%;
    min-height: 100%;
}
.not-fullscreen, .not-fullscreen .main-parallax-content, .fullscreen.not-overflow, .fullscreen.not-overflow .main-parallax-content
{
    height: 100%;
    overflow: hidden;
}
/* content centering styles */
.main-parallax-content
{
    display: table
}
.second-parallax-content
{
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
.parallax-content
{
    margin: 1.5em 0 8em 0
}
/* === Sections === */
.main-container div[class*="col-xs-"], .main-container div[class*="col-sm-"], .main-container div[class*="col-md-"], .main-container div[class*="col-lg-"]
{
    padding: 0;
    margin: 0;
}
.row
{
    padding: 0;
    margin: 0;
}
.main-sections
{
    min-height: 100%;
    position: relative;
    background-color: #f5f4e9;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.main-sections.nav-menu-is-open
{
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}
/* === Menu === */
.menu-btn
{
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    z-index: 80;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#menu-trigger
{
    position: fixed;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    z-index: 20;
    background-color: #fe6124;
}
#menu-trigger:hover, #close-trigger:hover
{
    background: #4F4F4F
}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .btn:hover
{
    background: #4F4F4F
}
#menu-trigger .menu-icon
{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #fbfaf4;
}
#menu-trigger .menu-icon::before, #menu-trigger .menu-icon:after
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#menu-trigger .menu-icon::before
{
    bottom: 5px
}
#menu-trigger .menu-icon::after
{
    top: 5px
}
#menu-trigger.is-clicked .menu-icon
{
    background-color: rgba(255, 255, 255, 0)
}
#menu-trigger.is-clicked .menu-icon::before, #menu-trigger.is-clicked .menu-icon::after
{
    background-color: white
}
#menu-trigger.is-clicked .menu-icon::before
{
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#menu-trigger.is-clicked .menu-icon::after
{
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#close-trigger
{
    position: fixed;
    right: 16px;
    top: 0;
    height: 50px;
    width: 50px;
    background-color: #fe6124;
}
#close-trigger .close-icon
{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #fbfaf4;
}
#close-trigger .close-icon::before, #close-trigger .close-icon:after
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#close-trigger .close-icon::before
{
    bottom: 5px
}
#close-trigger .close-icon::after
{
    top: 5px
}
#close-trigger.is-clicked .close-icon
{
    background-color: rgba(255, 255, 255, 0)
}
#close-trigger.is-clicked .close-icon::before, #close-trigger.is-clicked .close-icon::after
{
    background-color: white
}
#close-trigger.is-clicked .close-icon::before
{
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#close-trigger.is-clicked .close-icon::after
{
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.invisible-element
{
    visibility: hidden;
    display: none;
}
#menu-nav
{
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    width: 260px;
    background-color: #383838;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#menu-nav ul
{
    margin: 0;
    list-style: none;
}
#menu-nav a
{
    display: block;
    padding: 1em;
    border-bottom: 1px solid #535353;
    font-size: 1.1em;
    font-weight: 300;
    color: #fe6124;
}
#menu-nav a:hover, #menu-nav .active-element a
{
    background: #fe6124;
    color: #fbfaf4;
}
#menu-nav.nav-menu-is-open
{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}
/* === Services === */
.service
{
    position: relative;
    opacity: 0;
    background: #fbfaf4;
    padding: 4em;
    -webkit-transition: all  0.4s ease-in-out 0s;
    -moz-transition: all  0.4s ease-in-out 0s;
    -ms-transition: all  0.4s ease-in-out 0s;
    -o-transition: all  0.4s ease-in-out 0s;
    transition: all  0.4s ease-in-out 0s;
    text-align: center;
    border: 1px solid #f7f7f7;
}
.service i
{
    color: #fe6124;
    display: block;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.service:hover
{
    background: #fe6124
}
.service:hover i
{
    color: #fbfaf4;
    cursor: default;
}
.service h3
{
    text-align: center
}
.service-info
{
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fbfaf4;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(100%, 0,0);
    transform: translate3d(100%, 0,0);
}
.service:hover .service-info
{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.service-content
{
    padding: 1em 2em 2em 1em
}
/* === Portfolio  === */
.project
{
    z-index: 2
}
.project img
{
    width: 100%;
    min-width: 100%;
    display: block;
}
.project h3
{
    text-transform: capitalize
}
.portfolio .box, .services .box, .team .box
{
    overflow: hidden;
    position: relative;
}
.box .animated-content
{
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em;
    display: inline-table;
    background: #fbfaf4;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(100%, 0%,0);
    transform: translate3d(100%, 0%,0);
}
.box .animated-content .dinamic
{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}
.box .animated-content  > a
{
    float: right;
    font-size: 18px;
    color: #4F4F4F;
    padding: 0 14px;
}
.box .animated-content  > h3
{
    float: left;
    margin: 0;
}
.box .animated-content > i::before
{
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.box:hover .animated-content, .box:hover .animated-content .dinamic
{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.box:hover .animated-content .dinamic:nth-child(1)
{
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.box:hover .animated-content .dinamic:nth-child(2)
{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.box:hover .animated-content .dinamic:nth-child(3)
{
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.box:hover .animated-content .dinamic:nth-child(4)
{
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
/* === Filter === */
.filter-options
{
    margin-bottom: 1.5em;
    text-align: center;
}
.filter-options button
{
    margin-right: 10px;
    padding: 10px 16px;
    background: inherit;
    border: 3px solid #ebebeb;
    text-transform: uppercase;
}
.filter-options button:hover
{
    background: #fe6124;
    color: #fbfaf4;
}
.filter-options .active
{
    background: #fe6124;
    color: #fbfaf4;
}
/* ===  Project content  === */
.main-sections.slide-out
{
    /* the .main-sections element slides to the left when the author bio is visible */
    -webkit-transform: translateX(-270px);
    -moz-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    -o-transform: translateX(-270px);
    transform: translateX(-270px);
}
.project-nav {
    color: #fbfaf4;
    font-size: 18px;
    text-align: center;
    width: 700px;
    position: fixed;
    z-index: 9;
    height: 50px;
    background-color: #fe6124;
    line-height: 50px;
    bottom: 0;
    right: 3em;
}
.project-nav .prev, .project-nav .next
{
    width: 348px;
    display: inline-block;
}
.project-nav .prev:hover, .project-nav .next:hover{
    background: #383838;
}
.project-container
{
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100%;
    overflow-y: auto;
    /* smooth scrolling on mobile phones and tablets */
    -webkit-overflow-scrolling: touch;
    background: #fbfaf4;
    z-index: 1;
    /* this how we move the author bio section off the canvas */
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 8;
}
.project-container img
{
    width: 100%
}
.project-container .project-content
{
    padding: 2em 3em 5em  3em
}
.project-content h3
{
    text-transform: capitalize
}
.project-container.slide-in
{
    /* the author bio section slides in when the user clicks on the team project picture */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
/* === Blog  === */
.article-meta
{
    font-size: 13px
}
.article-date, .article-comment, .article-author, .article-tag
{
    margin: 0;
    display: inline-block;
    margin-right: 1.5em;
}
.article-meta i
{
    font-size: 14px;
    padding-right: 7px;
    width: 24px;
}
.view-all-post
{
    background: #fcfaec;
    padding: 2em 0;
    text-align: center;
    text-transform: uppercase;
}
/* === Testimonials  === */
.caroufredsel_wrapper ul
{
    margin: 0
}
.list_carousel
{
    position: relative
}
.testimonial-centent
{
    padding: 2em;
    position: relative;
    background: #fbfaf4;
    margin: 0 0 0 126px;
}
.testimonial-centent::after
{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fcfaec;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 39%;
    left: -10px;
}
.avatar
{
    margin-bottom: 1em;
    position: absolute;
    top: 19%;
    left: -8em;
    border: 2px solid #fcfaec;
}
/* === Page  === */
.page-sub-title h2
{
    margin: 2em 0;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 3;
    padding: 0 2em;
}
.parallax .page-sub-title h2
{
    color: #fcfaec
}
.parallax .line:after
{
    border-top: 3px solid #fcfaec;
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    left: 0;
    width: 38%;
    z-index: 1;
}
.parallax .line:before
{
    border-top: 3px solid #fcfaec;
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    right: 0;
    width: 38%;
    z-index: 1;
}
.line:after
{
    border-top: 3px solid #ebebeb;
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    left: 13%;
    width: 28%;
    z-index: 1;
}
.line:before
{
    border-top: 3px solid #ebebeb;
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    right: 13%;
    width: 28%;
    z-index: 1;
}
/* === About us  === */
.mini-about-us
{
    padding: 3em;
    margin-top:3em;
}
.mini-about-us h2
{
    margin-bottom: 0
}
/* === Form === */
input, button, select, textarea
{
    -webkit-transition: all  0.3s ease-in-out 0s;
    -moz-transition: all  0.3s ease-in-out 0s;
    -ms-transition: all  0.3s ease-in-out 0s;
    -o-transition: all  0.3s ease-in-out 0s;
    transition: all  0.3s ease-in-out 0s;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    border: 1px solid #ebebeb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 50px;
    width: 100%;
    padding: 0 1em;
    margin-bottom: 1.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
form textarea
{
    border: 1px solid #fcfaec;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    color: #606060;
    padding: 1em;
    margin-bottom: 1.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/* ===  Subscribe  === */
.newsletter
{
    position: relative
}
.newsletter .btn
{
    position: absolute;
    right: 2px;
    top: -73px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/* ===  Colors  === */
.white-color
{
    background: #fcfaec
}
.green-color
{
    background: #2ecc71
}
.blue-color
{
    background: #0c7ca4
}
.red-color
{
    background: #e74c3c
}
.yellow-color
{
    background: #f1c40f
}
.orange-color
{
    background: #e67e22
}
.turquoise
{
    background: #1abc9c
}
.beige-color
{
    background: #fbfaf4
}
.amethyst
{
    background: #9b59b6
}
.wet-asphalt
{
    background: #34495e
}
.silver
{
    background: #bdc3c7
}
.contact-section
{
    position: relative
}
/* === Social icons === */
.social-icons a
{
    color: #fbfaf4;
    display: block;
    font-size: 28px;
    padding: 1em;
    text-align: center;
}
.social-icons .facebook
{
    background: #3B5998
}
.social-icons .twitter
{
    background: #00ACED
}
.social-icons .google
{
    background: #d14836
}
.social-icons .youtube
{
    background: #CD332D
}
.social-icons .vimeo
{
    background: #44BBFF
}
.social-icons .pinterest
{
    background: #CB2027
}
.social-icons .dribbble
{
    background: #EA4C89
}
.social-icons .linkedin
{
    background: #007FB1
}
.social-icons .tumblr
{
    background: #2C4762
}
.social-icons .wordpress
{
    background: #21759B
}
.social-icons .digg
{
    background: #14589E
}
.social-icons .rss
{
    background: #FF8300
}
/* === Map === */
.google-map
{
    display: block;
    height: 499px;
    width: 100%;
    min-width: 100%;
    z-index: 21;
    max-width: 1400px;
}
/* === Contact details === */
.contact
{
    position: relative
}
.contact-details
{
    text-align: center
}
.contact-details h2
{
    font-size: 20px
}
.contact-details h2 span
{
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 15px;
}
.contact-details  i
{
    font-size: 28px
}
.contact-details .contact-adress
{
    background: #fcfaec;
    padding: 3em 0;
}
.contact-details .contact-phone
{
    padding: 3em 0
}
.contact-details .contact-email
{
    background: #fcfaec;
    padding: 3em 0;
}
.send
{
    padding: 3em;
    text-align: center;
    text-transform: uppercase;
    color: #fcfaec;
    cursor: pointer;
}
.contact-form
{
    height: 100%;
    position: absolute;
    padding: 3em;
    width: 100%;
    bottom: 0;
    background: #f7f7f7;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -100%,0);
    transform: translate3d(0,-100%,0);
    z-index: 20;
    opacity: 0;
}


.open-contact-form
{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.contact-form .btn
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fcfaec;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.alert
{
    display: inline-block;
    margin-top: 1em;
}
/* ===  Pricing Tables  === */
.pricing-tables .plan
{
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: #fbfaf4;
    text-align: center;
}
.pricing-tables .plan li
{
    padding: 10px 15px;
    color: #ccc;
    border-top: 1px solid #eaeaea;
}
.pricing-tables .plan li.plan-price
{
    border-top: 0
}
.pricing-tables .plan li.plan-name
{
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #fbfaf4;
    background: #4F4F4F;
    margin-bottom: 30px;
    border-top: 0;
}
.pricing-tables .plan li > strong
{
    color: #4F4F4F
}
.pricing-tables .plan li.plan-action
{
    margin-top: 10px;
    border-top: 0;
}
.pricing-tables .plan.featured
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.pricing-tables .plan.featured li.plan-name
{
    background: #fe6124
}
.pricing-tables .plan.featured:hover li.plan-name
{
    background: #fe6124
}
.pricing-tables .plan:hover li.plan-name
{
    background: #fe6124
}
/* === Buttons + icons === */
.btn-icon
{
    height: 42px;
    width: 42px;
    color: #fbfaf4;
    display: inline-block;
    background: #fe6124;
}
.btn-icon a
{
    color: #fbfaf4;
    height: 42px;
    line-height: 26px;
    width: 42px;
    float: left;
    display: block;
}
.btn-icon i
{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}
.btn-icon a:hover
{
    color: #fbfaf4;
    background: #0f262b;
}
/* ===  Responsive  === */
/* === Widescreen  === */
@media only screen and (min-width: 1280px)
{
    .project-container
    {
        width: 800px;
        -webkit-transform: translateX(800px);
        -moz-transform: translateX(800px);
        -ms-transform: translateX(800px);
        -o-transform: translateX(800px);
        transform: translateX(800px);
    }
    .main-sections.slide-out
    {
        -webkit-transform: translateX(-800px);
        -moz-transform: translateX(-800px);
        -ms-transform: translateX(-800px);
        -o-transform: translateX(-800px);
        transform: translateX(-800px);
    }
}
/* ===  7" Tablet  === */
@media only screen and (min-width: 600px) and (max-width: 780px)
{
    .project-nav .prev, .project-nav .next{
        width: 150px;
    }
    .project-nav{
        width: 600px;
        right: 0;
    }
    .project-container
    {
        width: 600px;
        -webkit-transform: translateX(600px);
        -moz-transform: translateX(600px);
        -ms-transform: translateX(600px);
        -o-transform: translateX(600px);
        transform: translateX(600px);
    }
    .main-sections.slide-out
    {
        -webkit-transform: translateX(-600px);
        -moz-transform: translateX(-600px);
        -ms-transform: translateX(-600px);
        -o-transform: translateX(-600px);
        transform: translateX(-600px);
    }
    #menu-trigger .menu-icon
    {
        left: auto;
        right: 1.25em;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .line
    {
        display: none
    }
    .filter-options button
    {
        margin-bottom: 1em
    }
    .newsletter .btn
    {
        top: -73px
    }
    .avatar
    {
        top: 25%
    }
}
/* ===  Tablet - iPad  === */
@media only screen and (min-width: 760px) and (max-width: 980px)
{
    .project-nav .prev, .project-nav .next{
        width: 150px;
    }
    .project-nav{
        width: 760px;
        right: 0;
    }
    .line
    {
        display: none
    }
    #close-trigger
    {
        right: 0
    }
    .project-container
    {
        width: 760px;
        -webkit-transform: translateX(760px);
        -moz-transform: translateX(760px);
        -ms-transform: translateX(760px);
        -o-transform: translateX(760px);
        transform: translateX(760px);
    }
    .main-sections.slide-out
    {
        -webkit-transform: translateX(-760px);
        -moz-transform: translateX(-760px);
        -ms-transform: translateX(-760px);
        -o-transform: translateX(-760px);
        transform: translateX(-760px);
    }
}
/* ===  Mobile - Portrait === */
@media only screen and (max-width: 479px)
{
    #close-trigger
    {
        right: 0
    }
    .testimonial-centent
    {
        margin: 0 0 3em 0
    }
    .line
    {
        display: none
    }
}
/* ===  Mobile - Landscape === */
@media only screen and (min-width: 480px) and (max-width: 599px)
{
    .project-nav .prev, .project-nav .next{
        width: 150px;
    }
    .project-nav{
        width: 480px;
        right: 0;
    }
    .filter-options button
    {
        margin-bottom: 1em
    }
    #close-trigger
    {
        right: 0
    }
    .testimonial-centent
    {
        margin: 0 0 3em 0
    }
    .line
    {
        display: none
    }
}
@media only screen and (max-width: 599px)
{
    .project-nav .prev, .project-nav .next{
        width: 150px;
    }
    .project-nav{
        width: 480px;
        right: 0;
    }
    .project-container
    {
        width: 480px;
        -webkit-transform: translateX( 480px);
        -moz-transform: translateX( 480px);
        -ms-transform: translateX( 480px);
        -o-transform: translateX( 480px);
        transform: translateX( 480px);
    }
    .main-sections.slide-out
    {
        -webkit-transform: translateX(-480px);
        -moz-transform: translateX(-480px);
        -ms-transform: translateX(-480px);
        -o-transform: translateX(-480px);
        transform: translateX(-480px);
    }
}
@media only screen and (max-width: 360px)
{
    .project-container
    {
        width: 360px;
        -webkit-transform: translateX(360px);
        -moz-transform: translateX(360px);
        -ms-transform: translateX(360px);
        -o-transform: translateX(360px);
        transform: translateX(360px);
    }
    .main-sections.slide-out
    {
        -webkit-transform: translateX(-360px);
        -moz-transform: translateX(-360px);
        -ms-transform: translateX(-360px);
        -o-transform: translateX(-360px);
        transform: translateX(-360px);
    }
    .project-nav{
        width: 360px;
        right: 0;
    }
}
@media only screen and (max-width: 320px)
{
    .project-nav{
        width: 320px;
        right: 0;
    }
    .project-container
    {
        width: 320px;
        -webkit-transform: translateX(320px);
        -moz-transform: translateX(320px);
        -ms-transform: translateX(320px);
        -o-transform: translateX(320px);
        transform: translateX(320px);
    }
    .main-sections.slide-out
    {
        -webkit-transform: translateX(-320px);
        -moz-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
        -o-transform: translateX(-320px);
        transform: translateX(-320px);
    }
}



/*package css */
.logo img {
    border-color: #F4501D;
}
.verticle-line{
      border-color: #F4501D !important;
}
.arrow-left{
        border-left:10px solid #F4501D !important; 
}
.arrow-down{
    border-top: 25px solid #F4501D !important; 
}

/*---------------------------------------
   2.3 TEXT COLOR SETTINGS               
-----------------------------------------*/

.price-circle span,
 a{
    color: #F4501D;
}

a:hover {
    color: #d65348;
}

h2.form-title {
    color: #fff;
    padding: 36px 0;
    text-align: center;
    position:relative;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 25px solid #F4501D;
    bottom:-17px;
    left:45%;
    position:absolute;
}

.form-bg {
    background: url("../img/form_bg.png") center bottom;
    padding: 25px 20px;
}

.form-control {
  height: 45px;
  padding: 6px 12px;
  font-size: 14px;
  color: #8f96a9;
  border:none;
  border-radius: 1px;
}

.submit-btn {
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border:none;
}

.error{
    background:#F4501D;
    color:#fff;
    text-align:center;
    line-height:50px;
    margin-bottom:15px;
    }
.success{
    background:#42b089;
    color:#fff;
    text-align:center;
    line-height:50px;
    margin-bottom:15px;
    }

    .wpcf7{


    }

    .wpcf7-form{

  line-height: 1.5;

    }

    form.wpcf7-form::before, form.idealforms::after {
  content: "";
  display: table;
}

*, *::after, *::before {
  box-sizing: border-box;
}*::before, *::after {
  box-sizing: border-box;
}
.wpcf7-form-control{

}
.wpcf7-form input[type="submit"]{
  border-radius: 0;
  color: green-color;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.wpcf7-form input[type="submit"]{
  border-radius: 0;
  background: #2ecc71 none repeat scroll 0 0;
  color: #fcfaec;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.wpcf7-form input[type="submit"]:hover{
  border-radius: 0;
   background-color:  #282923;
  color: #fcfaec;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
box-sizing: border-box;
background: white;
width: 100%;
padding: 1%;
margin: 0;
}
